<div class="anouncement">
    <span class="an-title">{{title}}</span>
    <span class="an-text">{{text}}</span>
    <button class="navbar-buttons" onclick="window.location.href='/announcements/{{anouncement-link}}'">Περισσότερα</button>
</div>