{{! Description: Header for the website }}
<div class="video-container" id="video-div">
    <video autoplay muted id="video">
        <source src="/media/intro.mp4" type="video/mp4">
    </video>
    <div class="headerbar">
        <button class="headerbar_img" onclick= "window.location.href ='/'">
            <img src="/svg/logos/main_logo.svg" alt="logo"/>
        </button>
        <ul class="teams_bar" id="teams-bar"></ul>
        <ul class="info_bar" id="info-bar"></ul>
    </div>
    <div class="navbar">
        <ul class="navbar-items" id="navbar-items"></ul>
    </div>
</div>