<div class = "player-card">
    <div class = "player-number">
        {{player_number}}
    </div>
    <div class = "player-name">
        {{player_name}}
    </div>
    <div class = "player-surname">
        {{player_surname}}
    </div>
</div>