<div class="team-comp">
    <div class="stats-title">
    <span class="comp-title">Στατιστικά Ομάδας</span>
</div>
    <div class="stats-dets">

        <div class="stats-grid">
            <div class="stats-frame">
                <span class="stats-frame-title">Θέση</span>
                <span class="stats-frame-text">{{position}}</span>
            </div>
            <div class="stats-frame">
                <span class="stats-frame-title">Βαθμοί</span>
                <span class="stats-frame-text">{{points}}</span>
            </div>
            <div class="stats-frame">
                <span class="stats-frame-title">Αγώνες</span>
                <span class="stats-frame-text">{{played}}</span>
            </div>
        </div>
    </div>
</div>