<div class="team-info-container">
    <img alt='Team Photo' class="team-info-img" src="/svg/team-img/norths.svg">
    <div class="team-info">
        {{> team-info-parts}}
        {{> team-info-parts}}
    </div>
</div>