<div class="item">
    <img class="item-banner" src="/svg/stadiums-small/{{stad_img}}" alt="Stadium Image">
    <img class='item-icon' src="/svg/logos-small/{{team_img}}" alt="Team Image">
    <div class="item-info">
            <span class="item-info-title">{{team_name}}</span>
    </div>
</div>