<div class="banner-title"><span class="banner-text">Επικοινωνία</span></div>
<div class="contact-container">
    <div class="contact-info">
        <span class="contact-title">Στοιχεία Επικοινωνίας</span>
        <div class="contact-item">
            <span class="contact-item-title">Διεύθυνση</span>
            <span class="contact-item-text">Μεσογείων 174 Μαρούσι</span>
        </div>
        <div class="contact-item">
            <span class="contact-item-title">Τηλέφωνο</span>
            <span class="contact-item-text">+302104238928</span>
        </div>
        <div class="contact-item">
            <span class="contact-item-title">Email</span>
            <span class="contact-item-text">info@ultraleague.gr</span>
        </div>
    </div>
    <div class="form">
        <span class="contact-title">Φόρμα Επικοινωνίας</span>
        <form action="/sendMessage" method="GET">
            <div class="form-cont">
                <div class="form-item">
                    <label class="form-item-title" for="name">Όνομα</label>
                    <input class="form-item-input" type="text" name="name" id="name" placeholder="Όνομα" required>
                </div>
                <div class="form-item">
                    <label class="form-item-title"for="name">Επώνυμο</label>
                    <input class="form-item-input"type="text" name="surname" id="surname" placeholder="Επώνυμο" required>
                </div>
            </div>
            <div class="form-cont">
                <div class="form-item">
                    <label class="form-item-title"for="email">Email</label>
                    <input class="form-item-input"type="email" name="email" id="email" placeholder="Email" required>
                </div>
                <div class="form-item">
                    <label class="form-item-title"for="company">Εταιρεία</label>
                    <input class="form-item-input"type="text" name="company" id="company" placeholder="Εταιρεία" required>
                </div>
            </div>

                <div class="form-item">
                    <label class="form-item-title"for="message">Μήνυμα</label>
                    <textarea class="form-item-message" name="message" id="message" cols="30" rows="10" placeholder="Μήνυμα" required></textarea>
                </div>


            <div class="form-cont" style="justify-content: center">
                <input type="submit" class="navbar-buttons" value="Αποστολή">
            </div>
        </form>
    </div>
</div>