<div class="banner-title"><span class="banner-text">Είσοδος Χρήστη</span></div>

<form class='login' action="/login/password" method="post">
        <p>
            <label style="font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 46px;
/* identical to box height */

display: flex;
align-items: center;
text-align: right;

color: #000000;"for="username">Username:</label>
            <input style="font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 46px;
/* identical to box height */

display: flex;
align-items: center;
text-align: left;

color: #000000;"type="text" name="username" id="username">
        </p>
        <p>
            <label style="font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 46px;
/* identical to box height */

display: flex;
align-items: center;
text-align: right;

color: #000000;"for="password">Password:</label>
            <input style="font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 46px;
/* identical to box height */

/*display: flex;*/
align-items: center;
text-align: left;

color: #000000;"type="password" name="password" id="password" />
            <i style="font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 46px;
/* identical to box height */

/*display: flex;*/
align-items: center;
text-align: left;

color: #000000;"class="bi bi-eye-slash" id="togglePassword"></i>
        </p>
    <button class="navbar-buttons" type="submit">Login</button>
</form>
