<div class="banner-title"><span class="banner-text">Αποτελέσματα</span></div>
<div class="schedule-container">
<!--    add matchday filters-->
    <div class="filter-container">
        <select id="filter1" class="filter-dropdown">
            <option value="">Επιλογή Σεζόν</option>
            <option id="option1">Option 1</option>
            <option id="option2">Option 2</option>
                <!-- Add more options as needed -->
        </select>

        <select id="filter2" class="filter-dropdown">
            <option value="">Επιλογή Αγωνιστικής</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <!-- Add more options as needed -->
        </select>

        <select id="filter3" class="filter-dropdown">
            <option value="">Επιλογή Ομάδας</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <!-- Add more options as needed -->
        </select>
    </div>
    {{#each matchday}}
    <div class="team-comp">
        <div class="stats-title">
            <span class="comp-title">Αγωνιστική {{match_day_id}}</span>
        </div>

    <div class="matches">
        {{#each match}}
            {{> result match_date=match_date match_team1=home_name match_team2=away_name match_score1=home_score match_score2=away_score match_location=stadium logo_src1=home_name_short logo_src2=away_name_short team_home_bg=home_bg team_away_bg=away_bg info_src2="location-black.svg"}}
        {{/each}}
    </div>
    </div>
    {{/each}}
<!--    <div class="button-frame">-->
<!--        <button class="navbar-buttons" id="load-more">Επόμενη Αγωνιστική</button>-->
<!--    </div>-->
</div>