<div class="banner-title"><span class="banner-text">Αποτελέσματα</span></div>
<div class="schedule-container">
    <div class="filter-container">
        
    </div>
    <div class="matches">
        {{#each matches}}
            {{> result match_day=match_day match_date=match_date match_team1=match_team1 match_team2=match_team2 match_score1=match_score1 match_score2=match_score2 match_location=match_location logo_src1=logo_src1 logo_src2=logo_src2 logo_id1=logo_id1 logo_id2=logo_id2 info_src1=info_src1 info_id1=info_id1 info_src2=info_src2 info_id2=info_id2}}
        {{/each}}
    </div>
    <div class="button-frame">
        <button class="navbar-buttons" id="load-more">Επόμενη Αγωνιστική</button>
    </div>
</div>