<div class="banner-title"><span class="banner-text">Ομάδες</span></div>
<div class="teams-container">
    <div class="items-container">
        <div class="items-row" id="items-row1">
            {{#each team_list}}
                {{> team-item team_short=team_name_short team_bg=team_bg stad_img=stad_name_short team_name=team_name stad_name=stadium}}
            {{/each}}
        </div>
    </div>
</div>