<div class="banner-title"><span class="banner-text">Ομάδες</span></div>
<div class="teams-container">
    <div class="items-container">
        <ul class="items-row" id="items-row1">
            {{#for 0 4}}
                {{> team-item stad_img= this.stad_names stad_name team_img=logo_id team_name= }}
            {{/for}}
        </ul>
<!--        <ul class="items-row" id="items-row2">-->

<!--        </ul>-->
    </div>
</div>