.filter-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;

    width: 75%;
}

.filter-dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.filter-dropdown{
    width: 100%; /* Make the select element take up the full width of its container */


    font-size: 20px; /* Change the font size as needed */
}
