.schedule-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    /*width: 1440px;*/
    /*height: 710px;*/


}

.stats-title {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 1436px;
    /*gap: 10px;*/
    border-bottom: 1px solid #000000;

    /* Inside auto layout */

    align-self: center;}
.team-comp{
    /* team-comp */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    /*width: 1440px;*/
    /*height: 1248px;*/


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.matches{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
    gap: 10px;

    width: 1440px;
    height: 482px;
}

.comp-title {

    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


.button-frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 589px;
    gap: 10px;

    width: 1440px;
    height: 109px;

}

.match-frame{
    display: flex;
    /*box-sizing: border-box;*/
    /*background: #CACED3;*/
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    /*gap: 20px;*/

    /*width: 1440px;*/
    /*height: 88px;*/
    align-self: stretch;
    border-bottom: 1px solid #000000;

}
.match-date{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /*gap: 20px;*/

    /*width: 345px;*/
    /*height: 88px;*/
}
.match-date-day{
    /*width: 163px;*/
    /*height: 88px;*/

    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
.match-date-date{
    /*width: 162px;*/
    /*height: 88px;*/

    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.match-dets{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 15px;

    /*width: 710px;*/
    /*height: 88px;*/


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.match-dets-team-home{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    /*width: 272px;*/
    /*height: 88px;*/


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.match-dets-team-away{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /*width: 272px;*/
    /*height: 88px;*/

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}
.match-dets-team-logo{
    box-sizing: border-box;

    /*width: 75px;*/
    /*height: 75px;*/
    background: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #000000;
}
.match-dets-score-score{
    /*width: 23px;*/
    /*height: 46px;*/

    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
.match-dets-score-home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    gap: 10px;

    /*width: 53px;*/
    /*height: 88px;*/

    background: #CACED3;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}
.match-dets-score-away-container{
    /* away-result */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    /*gap: 10px;*/

    /*width: 53px;*/
    /*height: 88px;*/

    background: #CACED3;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 1;
}
.logo-container-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    /*gap: 10px;*/

    /*width: 97px;*/
    /*height: 80px;*/


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.logo-container-away{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    /*gap: 10px;*/

    /*width: 97px;*/
    /*height: 88px;*/


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.match-location{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /*padding: 0px;*/
    /*gap: 42px;*/

    /*width: 345px;*/
    /*height: 88px;*/


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 1;
}
.match-location-location{
    width: 254px;
    height: 88px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    /*text-align: right;*/

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.location-graphic{
    /*width: 18px;*/
    /*height: 22px;*/
    /*white-space: nowrap;*/


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;}
.match-dets-team-text{
    width: 175px;
    height: 88px;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    /*margin-left: auto;*/

    color: #000000;


    /* Inside auto layout */

    /*flex: none;*/
    /*order: 0;*/
    /*flex-grow: 0;*/
}